.form-blocks {
    margin: 0 auto;
    width: 50%;
}
.form-item {
    margin: 20px 0;
}
.form-button {
    display: flex;
    justify-content: center;
}
.button__base {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    padding: 6px 16px;
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(to right, rgba(0, 17, 147, 1), rgba(15, 0, 250, 1));
    border: none;
    border-radius: 50px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.button__blue {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
}