.custom__textarea {
    line-height: 22px;
    width: 100%;
}
.custom__textarea textarea {
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    font-size: 14px;
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    padding: 5px 12px;
    resize: none;
    color: #797979;
}
.custom__textarea__label {
    display: flex;
    align-items: center;
}
.custom__textarea label {
    margin-bottom: 27px;
    font-family: Gilroy, sans-serif;
    font-weight: 500;
    color: #1c1c1c;
}
.custom__textarea.has-error textarea {
    border-color: #fd351b;
}
.error__result {
    color: #fd351b;
    padding: 0 12px 0 12px;
}
.custom__textarea textarea:focus {
    outline: none !important;
    border: 1px solid #6358c1 !important;
}
.text__area textarea:focus {
    border-radius: 0;
    border-color: #6358c1;
}
