.custom__input {
    width: 100%;
    line-height: 22px;
}
.custom__input__label {
    display: flex;
    align-items: center;
}
.custom__input label {
    margin-bottom: 8px;
    font-family: Gilroy, sans-serif;
    font-weight: 400;
}

.custom__input input {
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 32px;
    width: 100%;
    padding: 0 12px 0 12px;
    font-size: 14px;
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    outline: none;
}

.custom__input input:focus {
    border-color: #6358c1;
}

.custom__input input.error {
    border-color: #fd351b;
}

.error__message {
    color: #fd351b;
    margin: 0 12px 0 12px;
}
.error__message__with_opacity_active {
    width: 100%;
    height: 30px;
    color: #fd351b;
    visibility: visible;
}
.error__message__with_opacity {
    width: 100%;
    height: 30px;
    visibility: hidden;
}