.custom-select-container {
    position: relative;
    width: 100%;
}

.select-wrapper {
    position: relative;
}

.selected-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}
.selected-dynamic-icon {
    margin-left: 12px;
    width: 25px;
    height: 28px;
}

.selected-text {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.select-options {
    position: absolute;
    top: calc(75% + 5px);
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    background-color: lightgrey;
    z-index: 3;
}

.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #ddd;
}
